<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	<meta name="keyword" content="关于我们">
	<meta name="description" content="关于我们">
	<link rel="icon" href="../images/favicon2.ico"/>
	<link rel="stylesheet" href="../iconfont/iconfont.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/about.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
	<div class="topbar">
		<div class="wrapper clearfix">
			<div class="fl">
				<span class="part"><i class="iconfont icon-dianhua"></i><span class="text">0755-82045168,</span><span class="text">1-800-6547-321</span></span>
				<span class="part"><i class="iconfont icon-dizhi"></i><span class="text">深圳市福田区石厦北二街新天世纪商务中心B座2604</span></span>
				<span class="part"><i class="iconfont icon-youxiang"></i><span class="text">1498362129@qq.com</span></span>
			</div>
			<div class="fr">
				<span class="part"><i class="iconfont icon-denglu"></i><span class="text">登录</span>
			</div>
			<div style="clear:both"></div>
		</div>	
	</div>
	<div class="nav">
		<div class="nav-wrap clearfix">
			<div class="nav-logo">
				<a href="">
					<img src="../images/logo.jpg" alt="">
				</a>			
			</div>
			<div class="nav-bar">
				<div class="wrapper">
					<ul class="static clearfix">
						<li>
							<a href="../index.html" class="item">首页</a>
						</li>
						<li>
							<a class="hasdropdown item" href="detail.html">产品与方案</a>
							<ul class="dropdown ">
								<li><a href="detail_mianyi.html">犬类免疫系统</a></li>
								<li><a href="detail_dengji.html">养犬登记管理系统</a></li>
								<li><a href="detail_caiwu.html">财务管理系统</a></li>
								<li><a href="detail_zichan.html">资产管理系统</a></li>
							</ul>
						</li>
						<li>
							<a class="hasdropdown item" href="service.html">服务与支持</a>
							<div class="dropdown column clearfix ">
								<ul>
									<li><a href="service.html#service_software">软件支持</a></li>
									<li><a href="service.html#service_operation">运维服务</a></li>
									<li><a href="service.html#service_consult">咨询服务</a></li>
								</ul>
							</div>
						</li>
						<li class="active">
							<a class="hasdropdown item" href="#">关于我们</a>
							<ul class="dropdown ">
								<li><a href="about.html#about_introduce">公司概况</a></li>
								<li><a href="about.html#about_mainService">主要服务</a></li>
								<li><a href="about.html#offer">人才招聘</a></li>
								<li><a href="about.html#about_concact">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="about">
		<div id="about_introduce" class="introduction">
			<div class="wrapper clearfix">
				<div class="fr">
					<h2>公司概况</h2>
					<p>致力于为客户提供端到端，一站式“互联网+”转型服务的知名国家高新技术企业。2002年，由美国微软公司和上海联和投资有限公司共同投资创立，现拥有4000余名经验丰富的行业与技术专家，全球设有13个交付中心，交付网络涵盖亚洲（中国、日本和中国香港地区）、北美以及欧洲(瑞典、英国)等国家和地区。
					作为全球领先的信息技术和服务提供商，微创软件与包括微软、腾讯、阿里、百度在内的诸多合作伙伴，在大数据云计算、智慧城市、物联网及互联网+等领域，有着丰富的项目实践经验和卓越的技术实力。
					公司业务涉足新兴产业，制造业、金融、电信、医疗、传媒、零售、教育等诸多行业及政府公共项目，涵盖行业研究、业务顶层设计、技术架构咨询、解决方案实施到业务系统运营的整套解决方案，覆盖了企业的运营管理、沟通协调、生产流通、市场营销、客户服务等各个环节，并在互联网相关前瞻性领域保持长期关注和跟踪，是腾讯、百度、阿里、微软、惠普、华为、诺基亚西门子、阿尔卡特朗讯等多家全球知名企业的战略合作伙伴。</p>
				</div>				
			</div>
		</div>
		<div id="about_mainService" class="servies">
			<div class="wrapper">
				<div class="img"><img src="../images/about_business.png" alt=""></div>
				<div class="column">
					<ul>
						<li>
							<i class="iconfont icon-guanyuruanjian"></i>
							<div class="test">
								<h3>公司自主软件产品开发</h3>
								<p>公司致力于软件行业的项目外包、项目承接和软件供求信息的提供,为软件公司和各类软件开发人才提供了一个方便快捷的网上信息交流、项目交易的平台</p>
							</div>
						</li>
						<li>
							<i class="iconfont icon-icapp48px"></i>
							<div class="test">
								<h3>软件定制开发</h3>
								<p>公司致力于软件行业的项目外包、项目承接和软件供求信息的提供,为软件公司和各类软件开发人才提供了一个方便快捷的网上信息交流、项目交易的平台</p>
							</div>
						</li>
						<li>
							<i class="iconfont icon-kuaidiyuan"></i>
							<div class="test">
								<h3>软件项目开发外包</h3>
								<p>公司致力于软件行业的项目外包、项目承接和软件供求信息的提供,为软件公司和各类软件开发人才提供了一个方便快捷的网上信息交流、项目交易的平台</p>
							</div>
						</li>
						<li>
							<i class="iconfont icon-zhuanjia"></i>
							<div class="test">
								<h3>各行业信息化全面解决方案</h3>
								<p>公司致力于软件行业的项目外包、项目承接和软件供求信息的提供,为软件公司和各类软件开发人才提供了一个方便快捷的网上信息交流、项目交易的平台</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="offer">
			<div id="_canvas"></div>
			<div class="test">
				<div class="wrapper">
					<h2>想加入我们?</h2>
					<p>天方宏创土工了大量的可能性不断增加个人的专业和个人发展的帮助，让你职的技术思想开阔和获得丰厚回报。</p>
					<a href="#">招聘详情</a>
				</div>
			</div>		
			<script type="text/javascript" src="../js/vector.js"></script>
			<script type="text/javascript" src="../js/jquery.particleground.js"></script>
			<script type="text/javascript">
				/*var victor = new Victor("offer", "_canvas");*/
				$(document).ready(function() {
				  $('#_canvas').particleground({
				    dotColor: 'rgba(255,255,255,.2)',
				    lineColor: 'rgba(255,255,255,.2)'
				  });
				  /*$('.intro').css({
				    'margin-top': -($('.intro').height() / 2)
				  });*/
				});
			</script>
		</div>
		<div class="jobs">
			<div class="wrapper">
				<div class="test">
					<h2>目前我们Offer的职位</h2>
					<p>我们不介意你是否科班出身，是否有这些职业资格证书……，我们需要的是你的实力。我们目前需要JAVA、C#、Ui设计、网站开发等技术人才。如果你爱软件，爱创意，有出众的美感和过剩的灵感，有丰富的经验，优秀的作品，那么你就是我们要找的人。</p>
				</div>
				<ul class="column">
					<li>
						<img src="../images/about_java.jpg" alt="">
						<h4>JAVA工程师</h4>
						<p>精通Java/J2EE编程,能熟练使用SpringMVC、hibernate、框架进行项目开发,熟练使用freemarker等前端模板语言...</p>
						<a href="#" class="linkbtn">职位详情</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="about_concact" class="map">
			<div class="wrapper">
				<div class="test">
					<h2>联系我们</h2>
					<h4>联系地址：<span>深圳市福田区石厦北二街新天世纪商务中心B座2604</span></h4>
					<h4>联系电话：0755-82045168,1-800-6547-321</h4>
					<h4>邮箱:1498362129@qq.com</h4>
					<h4>运营时间:早上9点 - 晚上7点</h4>
					<ul class="methods">
						<li>
							<div class="icon">
								<i class="iconfont icon-gongjiaochetubiao"></i>
								<h4>公交车</h4>
							</div>
							<p class="way">福田区委/石厦学校（28路、33路、34路、63路、73路、103b路、202路）</p>
						</li>
						<li>
							<div class="icon">
								<i class="iconfont icon-qiche"></i>
								<h4>自驾车</h4>
							</div>
							<p class="way">新天世纪商务中心</p>
						</li>
						<li>
							<div class="icon">
								<i class="iconfont icon-ditie"></i>
								<h4>地铁</h4>
							</div>
							<p class="way">石厦A出口</p>
						</li>
					</ul>
				</div>
				<div class="mapImg"></div>
			</div>		
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<p>©2016 天方鸿创科技有限公司 &nbsp;&nbsp; <span>粤ICP备12053513号</span></p>
		</div>
	</div>
</body>
</html>