<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>产品与方案</title>
	<meta name="keyword" content="产品与方案">
	<meta name="description" content="产品与方案">
	<link rel="icon" href="../images/favicon2.ico"/>
	<link rel="stylesheet" href="../iconfont/iconfont.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/detail.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
	<div class="topbar">
		<div class="wrapper clearfix">
			<div class="fl">
				<span class="part"><i class="iconfont icon-dianhua"></i><span class="text">0755-82045168,</span><span class="text">1-800-6547-321</span></span>
				<span class="part"><i class="iconfont icon-dizhi"></i><span class="text">深圳市福田区石厦北二街新天世纪商务中心B座2604</span></span>
				<span class="part"><i class="iconfont icon-youxiang"></i><span class="text">1498362129@qq.com</span></span>
			</div>
			<div class="fr">
				<span class="part"><i class="iconfont icon-denglu"></i><span class="text">登录</span>
			</div>
			<div style="clear:both"></div>
		</div>	
	</div>
	<div class="nav">
		<div class="nav-wrap clearfix">
			<div class="nav-logo">
				<a href="">
					<img src="../images/logo.jpg" alt="">
				</a>			
			</div>
			<div class="nav-bar">
				<div class="wrapper">
					<ul class="static clearfix">
						<li>
							<a href="../index.html" class="item">首页</a>
						</li>
						<li class="active">
							<a class="hasdropdown item" href="#">产品与方案</a>
							<ul class="dropdown ">
								<li><a href="detail_mianyi.html">犬类免疫系统</a></li>
								<li><a href="detail_dengji.html">养犬登记管理系统</a></li>
								<li><a href="detail_caiwu.html">财务管理系统</a></li>
								<li><a href="detail_zichan.html">资产管理系统</a></li>
							</ul>
						</li>
						<li>
							<a class="hasdropdown item" href="service.html">服务与支持</a>
							<div class="dropdown column clearfix ">
								<ul>
									<li><a href="service.html#service_software">软件支持</a></li>
									<li><a href="service.html#service_operation">运维服务</a></li>
									<li><a href="service.html#service_consult">咨询服务</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="hasdropdown item" href="about.html">关于我们</a>
							<ul class="dropdown ">
								<li><a href="about.html#about_introduce">公司概况</a></li>
								<li><a href="about.html#about_mainService">主要服务</a></li>
								<li><a href="about.html#offer">人才招聘</a></li>
								<li><a href="about.html#about_concact">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="detail">
		<div class="img-bar">
			<div class="img-wrapper">
				<div class="img"></div>
			</div>
			<div class="text">
				<h2>产品与方案</h2>
				<p>为行业用户提供包括总体规划、技术支持、建立、培训、咨询等在内的一流的、全方位服务。</p>
			</div>			
		</div>
		<script type="text/javascript">
		/*var total = -230;
		var tranDistance = 0;
		var imgWrapper = $('.detail .img-wrapper');
		var ratio = 1.5
			$(window).on('scroll',function(e){
				//setTimeout(function(){
						imgWrapper.css({
							//transitiom:"all 300ms ease",
							transform:'translateY('+(total+(document.body.scrollTop / ratio))+'px)'
						})
						document.body.scrollTop = document.body.scrollTop;
				//},1)
				
			})*/
		</script>
		<div class="wrapper">
			<div class="introduce">
				<h3></h3>
				<p></p>
			</div>
			<div class="product">
				<a href="javascript:" class="list col3">
					<img src="../images/case1.jpg" alt="OA系统">
					<h4>OA系统</h4>
					<p>暂未上线</p>
				</a>
				<a href="detail_zichan.html" class="list col3">
					<img src="../images/case6.jpg" alt="信息管理系统">
					<h4>资产管理系统</h4>
					<p>通过简易、实效、可操作性强的系统推进区养犬登记信息化管理，进一步提高区养犬监督管理水平。</p>
				</a>
				<a href="detail_mianyi.html" class="list col3">
					<img src="../images/case3.jpg" alt="电子检疫出证系统">
					<h4>犬类免疫系统</h4>
					<p>通过简易、实效、可操作性强的系统推进区养犬登记信息化管理，进一步提高区养犬监督管理水平。</p>
				</a>
				<a href="javascript:" class="list col3">
					<img src="../images/case4.jpg" alt="动物诊疗监督系统">
					<h4>动物诊疗监督系统</h4>
					<p>暂未上线</p>
				</a>
				<a href="detail_dengji.html" class="list col3">
					<img src="../images/case5.jpg" alt="养犬登记管理系统">
					<h4>养犬登记管理系统</h4>
					<p>通过简易、实效、可操作性强的系统推进区养犬登记信息化管理，进一步提高区养犬监督管理水平。</p>
				</a>
				<a href="detail_caiwu.html" class="list col3">
					<img src="../images/case7.jpg" alt="财务系统">
					<h4>财务系统</h4>
					<p>通过简易、实效、可操作性强的系统推进区养犬登记信息化管理，进一步提高区养犬监督管理水平。</p>
				</a>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="wrapper">
			<p>©2016 天方鸿创科技有限公司 &nbsp;&nbsp; <span>粤ICP备12053513号</span></p>
		</div>
	</div>
</body>
</html>