<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>犬类免疫系统</title>
	<meta name="keyword" content="犬类免疫系统">
	<meta name="description" content="犬类免疫系统">
	<link rel="icon" href="../images/favicon2.ico"/>
	<link rel="stylesheet" href="../iconfont/iconfont.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/detail_introduce.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>
<body>
	<div class="topbar">
		<div class="wrapper clearfix">
			<div class="fl">
				<span class="part"><i class="iconfont icon-dianhua"></i><span class="text">0755-82045168,</span><span class="text">1-800-6547-321</span></span>
				<span class="part"><i class="iconfont icon-dizhi"></i><span class="text">深圳市福田区石厦北二街新天世纪商务中心B座2604</span></span>
				<span class="part"><i class="iconfont icon-youxiang"></i><span class="text">1498362129@qq.com</span></span>
			</div>
			<div class="fr">
				<span class="part"><i class="iconfont icon-denglu"></i><span class="text">登录</span>
			</div>
			<div style="clear:both"></div>
		</div>	
	</div>
	<div class="nav">
		<div class="nav-wrap clearfix">
			<div class="nav-logo">
				<a href="">
					<img src="../images/logo.jpg" alt="">
				</a>			
			</div>
			<div class="nav-bar">
				<div class="wrapper">
					<ul class="static clearfix">
						<li>
							<a href="../index.html" class="item">首页</a>
						</li>
						<li class="active">
							<a class="hasdropdown item" href="detail.html">产品与方案</a>
							<ul class="dropdown ">
								<li><a class="current" href="#">犬类免疫系统</a></li>
								<li><a href="detail_dengji.html">养犬登记管理系统</a></li>
								<li><a href="detail_caiwu.html">财务管理系统</a></li>
								<li><a href="detail_zichan.html">资产管理系统</a></li>
							</ul>
						</li>
						<li>
							<a class="hasdropdown item" href="service.html">服务与支持</a>
							<div class="dropdown column clearfix ">
								<ul>
									<li><a href="service.html#service_software">软件支持</a></li>
									<li><a href="service.html#service_operation">运维服务</a></li>
									<li><a href="service.html#service_consult">咨询服务</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a class="hasdropdown item" href="about.html">关于我们</a>
							<ul class="dropdown ">
								<li><a href="about.html#about_introduce">公司概况</a></li>
								<li><a href="about.html#about_mainService">主要服务</a></li>
								<li><a href="about.html#offer">人才招聘</a></li>
								<li><a href="about.html#about_concact">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="detail">
		<div class="staticBanner clearfix">
			<div class="wrapper">
				<div class="fl">
					<h2>犬类免疫系统</h2>
					<p>要根据你的经营计划、市场计划的各项分析和预测，在全面评估市场信息和公司财务环境系统的情况下，提供未来3年的预计资产负债率、损益表以及现金流量表。</p>
					<a href="javascript:alert('暂不支持网络渠道，请联系电话:0755-82045168')" class="linkbtn">联系购买</a>
				</div>
				<div class="fr"><img src="../images/detail_2_banner.png" alt="" class="img"></div>
			</div>
		</div>
			<div class="introduce" style="background-image: url(../images/detail_2_background.jpg)">
				<div class="wrapper">
					<div class="first-top ">
						<h3 class="_animation">主要功能介绍</h3>
						<p class="_animation">本系统支持WINDOWS XP/2003等WINDOWS	系列操作系统。建议使用 Internet Explorer 8.0 以上浏览器，1024x768 以上分辨率 达到最佳使用效果 。</p>
					</div>
					<div class="list">
						<div class="list-item col3 _animation">
							<i class="iconfont icon-jiezhongyimiao"></i>
							<h3>疫苗管理</h3>
							<p>疫苗调整、疫苗购置、疫苗分配、疫苗报废申请、疫苗报废审批、疫苗交回申请、疫苗交回审批、补助单申请审批</p>
						</div>
						<div class="list-item col3 _animation">
							<i class="iconfont icon-yufangmianyiyiliaogeifu"></i>
							<h3>免疫管理</h3>
							<p>免疫证发放、犬只免疫、导入免疫记录</p>
						</div>
						<div class="list-item col3 _animation">
							<i class="iconfont icon-shape"></i>
							<h3>统计查询</h3>
							<p>库存情况查询、免疫档案查询、免疫证发放统计、免疫数量统计、犬只种类分布统计、犬只保有量统计、疫苗报废率统计、疫苗报废申请查询、疫苗报废审批查询、疫苗分配记录查询、免疫记录查询</p>
						</div>
						<div class="list-item col3 _animation">
							<i class="iconfont icon-guanli"></i>
							<h3>系统管理</h3>
							<p>疫苗厂家、系统参数、数据字典、打印格式设置、公告管理、在线用户查询、系统日志</p>
						</div>
						<div class="list-item col3 _animation">
							<i class="iconfont icon-shujuweihu"></i>
							<h3>数据维护</h3>
							<p>数据备份、数据恢复、库存调整</p>
						</div>
						<div class="list-item col3 _animation">
							<i class="iconfont icon-guanli"></i>
							<h3>权限管理</h3>
							<p>角色管理、用户管理、密码管理、菜单管理、机构管理、系统注册</p>
						</div>
					</div>
				</div>
			</div>		
	</div>
	<script type="text/javascript">
		(function activeAnamtion(arr){
			var listenTarget = arr;
			listenTarget.each(function(index,item){console.log(item)})
			//console.log(listenTarget).length;
			var _splice = [];

			$(window).on('scroll',function(e){
				listenTarget.each(function(index,item){
					if((document.body.scrollTop ||document.documentElement.scrollTop) >= (item.offsetTop - window.innerHeight)){
						//console.log(item)
						setTimeout(function(){
							$(item).addClass('active');
						},100)
						
						//
						//listenTarget.splice(index,1);
					}
				})
				_splice.forEach(function(item){
					listenTarget.splice(item,1)
				})
				_splice = [];
			})

			/*listenTarget = arr;
			window.onscroll = function(){
				for(var i=0,len=listenTarget.length; i<len; i++){
					if(document.body.scrollTop >= (listenTarget[i].offsetTop - window.innerHeight)){

						listenTarget[i].classList.add('active');
						listenTarget.splice(i,1);
						len--;
					}
				}
			}*/
			
			

		})($('._animation'))
		//document.getElementsByClassName('_animation')
	</script>
	<div class="footer">
		<div class="wrapper">
			<p>©2016 天方鸿创科技有限公司 &nbsp;&nbsp; <span>粤ICP备12053513号</span></p>
		</div>
	</div>
</body>
</html>